#!/usr/bin/env bash
# See https://osticket.massopen.cloud/kb/faq.php?id=16

export OS_USERNAME="your_username_here"
export OS_PASSWORD="your_password_here"
export OS_PROJECT_NAME="rh-coops-spring-2020"

export OS_AUTH_URL="https://kaizen.massopen.cloud:13000/v3"
export OS_PROJECT_DOMAIN_NAME="Default"
export OS_REGION_NAME="moc-kzn"
export OS_AUTH_TYPE="v3oidcpassword"
export OS_IDENTITY_PROVIDER="moc"
export OS_PROTOCOL="openid"
export OS_CLIENT_ID="kaizen-client"
export OS_CLIENT_SECRET="fac377a9-f2ba-41e7-bb7f-4064dd9f4468"
export OS_ACCESS_TOKEN_ENDPOINT="https://sso.massopen.cloud/auth/realms/moc/protocol/openid-connect/token"
export OS_DISCOVERY_ENDPOINT="https://sso.massopen.cloud/auth/realms/moc/.well-known/openid-configuration"
export OS_INTERFACE=public
export OS_IDENTITY_API_VERSION=3
